@use "../util/" as util;

.footer {
  margin-top: 100px;
  padding: 20px;
  background-color: util.$lightGreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    width: 4rem;
  }
}
